.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.popover {
    display: none;
    margin-top: 0.5rem;
    left: auto;
    right: 0;
    top: 30px;
    width: 450px;

}
.popover-body {
    width: 100%;
    max-width: 450px;
}
.btn-popover:hover ~ .popover, .popover:hover {
    display: block;
}

.dropdown-menu {
    right: 0;
    left: auto;
}
.dropdown-menu .list-group-item {
    border: none;
}


